<!DOCTYPE html>
<html>
<head>
  <title>prooof</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if yield(:name) != "home" %>
    <%= render "layouts/header" %>
  <% end %>
  <div id="everything-outer" class="<%= yield(:name) %>">
    <%= yield %>
  </div>

</body>
</html>
